@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?n7bes2');
  src:  url('../fonts/icomoon.eot?n7bes2#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?n7bes2') format('truetype'),
    url('../fonts/icomoon.woff?n7bes2') format('woff'),
    url('../fonts/icomoon.svg?n7bes2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-basketball:before {
  content: "\e900";
}
.icon-basketball2:before {
  content: "\e901";
}
.icon-baseball:before {
  content: "\e902";
}
.icon-baseball2:before {
  content: "\e903";
}
.icon-tennis-ball:before {
  content: "\e904";
}
.icon-tennis-ball2:before {
  content: "\e905";
}
.icon-bowling-ball:before {
  content: "\e906";
}
.icon-bowling-ball2:before {
  content: "\e907";
}
.icon-billiard-ball:before {
  content: "\e908";
}
.icon-billiard-ball2:before {
  content: "\e909";
}
.icon-soccer-ball:before {
  content: "\e90a";
}
.icon-soccer-ball2:before {
  content: "\e90b";
}
.icon-soccer-court:before {
  content: "\e90c";
}
.icon-soccer-court2:before {
  content: "\e90d";
}
.icon-football:before {
  content: "\e90e";
}
.icon-football2:before {
  content: "\e90f";
}
.icon-football3:before {
  content: "\e910";
}
.icon-football4:before {
  content: "\e911";
}
.icon-basketball3:before {
  content: "\e912";
}
.icon-basketball4:before {
  content: "\e913";
}
.icon-baseball-set:before {
  content: "\e914";
}
.icon-baseball-set2:before {
  content: "\e915";
}
.icon-tennis-ball3:before {
  content: "\e916";
}
.icon-tennis-ball4:before {
  content: "\e917";
}
.icon-trophy:before {
  content: "\e918";
}
.icon-trophy2:before {
  content: "\e919";
}
.icon-trophy-one:before {
  content: "\e91a";
}
.icon-trophy-one2:before {
  content: "\e91b";
}
.icon-trophy3:before {
  content: "\e91c";
}
.icon-trophy4:before {
  content: "\e91d";
}
.icon-medal:before {
  content: "\e91e";
}
.icon-medal2:before {
  content: "\e91f";
}
.icon-medal3:before {
  content: "\e920";
}
.icon-medal4:before {
  content: "\e921";
}
.icon-weights:before {
  content: "\e922";
}
.icon-weights2:before {
  content: "\e923";
}
.icon-tennis-racket:before {
  content: "\e924";
}
.icon-tennis-racket2:before {
  content: "\e925";
}
.icon-basketball-hoop:before {
  content: "\e926";
}
.icon-basketball-hoop2:before {
  content: "\e927";
}
.icon-table-tennis:before {
  content: "\e928";
}
.icon-table-tennis2:before {
  content: "\e929";
}
.icon-volleyball:before {
  content: "\e92a";
}
.icon-volleyball2:before {
  content: "\e92b";
}
.icon-stop-watch:before {
  content: "\e92c";
}
.icon-stop-watch2:before {
  content: "\e92d";
}
.icon-stop-watch3:before {
  content: "\e92e";
}
.icon-stop-watch4:before {
  content: "\e92f";
}
.icon-hockey-stick:before {
  content: "\e930";
}
.icon-hockey-stick2:before {
  content: "\e931";
}
.icon-hockey-sticks:before {
  content: "\e932";
}
.icon-hockey-sticks2:before {
  content: "\e933";
}
.icon-shuttlecock:before {
  content: "\e934";
}
.icon-shuttlecock2:before {
  content: "\e935";
}
.icon-golf:before {
  content: "\e936";
}
.icon-golf2:before {
  content: "\e937";
}
.icon-move:before {
  content: "\e938";
}
.icon-move2:before {
  content: "\e939";
}
.icon-clipboard-move:before {
  content: "\e93a";
}
.icon-clipboard-move2:before {
  content: "\e93b";
}
.icon-award:before {
  content: "\e93c";
}
.icon-award2:before {
  content: "\e93d";
}
.icon-award3:before {
  content: "\e93e";
}
.icon-award4:before {
  content: "\e93f";
}
.icon-award5:before {
  content: "\e940";
}
.icon-award6:before {
  content: "\e941";
}
.icon-award7:before {
  content: "\e942";
}
.icon-award8:before {
  content: "\e943";
}
.icon-medal5:before {
  content: "\e944";
}
.icon-medal6:before {
  content: "\e945";
}
.icon-medal7:before {
  content: "\e946";
}
.icon-medal8:before {
  content: "\e947";
}
.icon-boxing-glove:before {
  content: "\e948";
}
.icon-boxing-glove2:before {
  content: "\e949";
}
.icon-whistle:before {
  content: "\e94a";
}
.icon-whistle2:before {
  content: "\e94b";
}
.icon-volleyball-water:before {
  content: "\e94c";
}
.icon-volleyball-water2:before {
  content: "\e94d";
}
.icon-checkered-flag:before {
  content: "\e94e";
}
.icon-checkered-flag2:before {
  content: "\e94f";
}
.icon-target-arrow:before {
  content: "\e950";
}
.icon-target-arrow2:before {
  content: "\e951";
}
.icon-target:before {
  content: "\e952";
}
.icon-target2:before {
  content: "\e953";
}
.icon-sailing-boat:before {
  content: "\e954";
}
.icon-sailing-boat2:before {
  content: "\e955";
}
.icon-sailing-boat-water:before {
  content: "\e956";
}
.icon-sailing-boat-water2:before {
  content: "\e957";
}
.icon-bowling-pins:before {
  content: "\e958";
}
.icon-bowling-pins2:before {
  content: "\e959";
}
.icon-bowling-pin-ball:before {
  content: "\e95a";
}
.icon-bowling-pin-ball2:before {
  content: "\e95b";
}
.icon-sports-shoe:before {
  content: "\e95c";
}
.icon-sports-shoe2:before {
  content: "\e95d";
}
.icon-soccer-shoe:before {
  content: "\e95e";
}
.icon-soccer-shoe2:before {
  content: "\e95f";
}
.icon-ice-skate:before {
  content: "\e960";
}
.icon-ice-skate2:before {
  content: "\e961";
}
.icon-neutral-face:before {
  content: "\e962";
}
.icon-laughing-face:before {
  content: "\e963";
}
.icon-sad-face:before {
  content: "\e964";
}
.icon-face-moustache:before {
  content: "\e965";
}



/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* --- Bootstrap overrides --- */


.navbar-brand {
    font-size: 2.25em;
}

/* --- --- */

input[type='text'], select, textarea {
    padding: 10px;
    display: block;
    width: 100%;
}
.item.horizontal input[type='text'].half-width, .item.horizontal select.half-width, .item.horizontal textarea.half-width {
    flex: 1;
}
.item.horizontal input[type='text'].half-width:not(:last-child), .item.horizontal select.half-width:not(:last-child), .item.horizontal textarea.half-width:not(:last-child) {
    margin-right: 10px;
}
label {
    text-transform: uppercase;
}
.item {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.item.horizontal {
    flex-direction: row;
    justify-content: space-between;
}
.item.team {
    margin-bottom: 10px;
}
.btn.plus {
    display: inline;
    background: #fff;
    padding: 10px;
    font-weight: bold;
    font-size: 2em;
    line-height: 1;
    border: solid 1px #999;
    width: auto;
}


.create-tournament {
    margin: 20px auto 0;
    display: inline-block;
}

.tournament-form {
    margin: 20px 0;
    padding: 20px;
    border: solid 1px #eee;
}

.loader {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.view ul {
    list-style-type: none;
    padding: 0;
}

.q-anim-enter {
  opacity: 0.01;
}

.q-anim-enter.q-anim-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.q-anim-leave {
  opacity: 1;
}

.q-anim-leave.q-anim-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.q-anim-appear {
  opacity: 0.01;
}

.q-anim-appear.q-anim-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}


.table {
    display: flex;
    flex-direction: column;
}
.table .team {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.table .team:not(:last-child) {
    border-bottom: solid 1px #eee;
}
.table .team:nth-child(2n + 3) {
    background-color: #fafafa;
}
.table .team.table-header {
    font-weight: bold;
    border-bottom: solid 1px #aaa;
}

.table .team .column {
    flex: 1;
    text-align: center;
    padding: 10px 0;
}
.table .team .column.name {
    flex: inherit;
    width: 33%;
    text-align: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.table .team .column.points {
    font-weight: bold;
}
.table .team .logo {
    max-width: 40px;
    max-height: 40px;
    margin-right: 10px;
    border: solid 1px #eee;
}

.medal {
    font-weight: bold;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.medal.gold {
    background-color:gold;
}
.medal.silver {
    background-color:silver;
}
.medal.bronze {
    background-color: #CD7F32;
}



@media (max-width: 767px) {
    .table .team .logo {
        max-width: 30px;
        max-height: 30px;
    }
}
@media (max-width: 460px) {
    .table .team .logo {
        max-width: 25px;
        max-height: 25px;
        margin-right: 5px;
    }
}

