

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* --- Bootstrap overrides --- */


.navbar-brand {
    font-size: 2.25em;
}

/* --- --- */

input[type='text'], select, textarea {
    padding: 10px;
    display: block;
    width: 100%;
}
input[type='text'].half-width, select.half-width, textarea.half-width {
    width: 49%;
}
label {
    text-transform: uppercase;
}
.item {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.item.horizontal {
    flex-direction: row;
    justify-content: space-between;
}
.item.team {
    margin-bottom: 10px;
}
.btn.plus {
    display: inline;
    background: #fff;
    padding: 10px;
    font-weight: bold;
    font-size: 2em;
    line-height: 1;
    border: solid 1px #999;
    width: auto;
}


.create-tournament {
    margin: 20px auto;
    display: block;
}

.tournament-form {
    margin: 20px 0;
    padding: 20px;
    border: solid 1px #eee;
}

.loader {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.view ul {
    list-style-type: none;
    padding: 0;
}

.q-anim-enter {
  opacity: 0.01;
}

.q-anim-enter.q-anim-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.q-anim-leave {
  opacity: 1;
}

.q-anim-leave.q-anim-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.q-anim-appear {
  opacity: 0.01;
}

.q-anim-appear.q-anim-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}


.table {
    display: flex;
    flex-direction: column;
}
.table .team {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.table .team:not(:last-child) {
    border-bottom: solid 1px #eee;
}
.table .team:nth-child(2n + 3) {
    background-color: #fafafa;
}
.table .team.table-header {
    font-weight: bold;
    border-bottom: solid 1px #aaa;
}

.table .team .column {
    flex: 1;
    text-align: center;
    padding: 10px 0;
}
.table .team .column.name {
    flex: inherit;
    width: 33%;
    text-align: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.table .team .column.points {
    font-weight: bold;
}
.table .team .logo {
    max-width: 40px;
    max-height: 40px;
    margin-right: 10px;
    border: solid 1px #eee;
}




@media (max-width: 767px) {
    .table .team .logo {
        max-width: 30px;
        max-height: 30px;
    }
}
@media (max-width: 460px) {
    .table .team .logo {
        max-width: 25px;
        max-height: 25px;
        margin-right: 5px;
    }
}

